

footer{
    display:inline-block;
    position:relative;
    background-color:rgb(103, 106, 110);
    
}

h1{
    text-align:center;
}
#mainImage{
    float:right;
    width:33%;
}

body{
    background-color:lightblue;
}
button{
    position:relative;
    left:29.67rem;
}
img{
    width:10%
}
